#tooltip-task .tooltip {
  cursor: pointer;
  margin-top: 30px;
  margin-right: 60px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }
  #tooltip-task .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; }
    #tooltip-task .tooltip .tooltiptext:after {
      content: " ";
      position: absolute;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid; }
  #tooltip-task .tooltip .top {
    bottom: 100%;
    left: 50%;
    margin-left: -60px; }
    #tooltip-task .tooltip .top:after {
      top: 100%;
      left: 50%;
      border-color: black transparent transparent transparent; }
  #tooltip-task .tooltip .bottom {
    top: 100%;
    left: 50%;
    margin-left: -60px; }
    #tooltip-task .tooltip .bottom:after {
      bottom: 100%;
      left: 50%;
      border-color: transparent transparent black transparent; }
  #tooltip-task .tooltip .left {
    top: -5px;
    right: 120%; }
    #tooltip-task .tooltip .left:after {
      top: 40%;
      left: 104%;
      border-color: transparent transparent transparent black; }
  #tooltip-task .tooltip .right {
    top: -5px;
    left: 120%; }
    #tooltip-task .tooltip .right:after {
      top: 40%;
      right: 100%;
      border-color: transparent black transparent transparent; }
  #tooltip-task .tooltip:hover .tooltiptext {
    visibility: visible; }
