#tooltip-task {
  .tooltip {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 60px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;

      &:after {
        content: " ";
        position: absolute;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
      }
    }

    .top {
      bottom: 100%;
      left: 50%; 
      margin-left: -60px;

      &:after {
        top: 100%;
        left: 50%;
        border-color: black transparent transparent transparent;
      }
    }

    .bottom {
      top: 100%;
      left: 50%; 
      margin-left: -60px;

      &:after {
        bottom: 100%;
        left: 50%;
        border-color: transparent transparent black transparent;
      }
    }

    .left {
      top: -5px;
      right: 120%;

      &:after {
        top: 40%;
        left: 104%;
        border-color: transparent transparent transparent black;
      }
    }

    .right {
      top: -5px;
      left: 120%; 

      &:after {
        top: 40%;
        right: 100%;
        border-color: transparent black transparent transparent;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}