#form {
  width: 370px;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 35px 45px; }
  #form .form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    font-size: 21px; }
  #form .soc-btns a {
    display: block;
    margin-bottom: 12px;
    padding: 6px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-weight: 600; }
    #form .soc-btns a:hover {
      opacity: 0.9; }
  #form .soc-btns .vk {
    background: #3b5f94; }
  #form .soc-btns .fb {
    background: #323c89; }
  #form .soc-btns .google {
    background: #da3d2c; }
  #form .soc-btns .yandex {
    background: #fff;
    border: 2px solid #da3d2c;
    padding: 4px;
    color: #000; }
    #form .soc-btns .yandex span {
      color: #da3d2c; }
    #form .soc-btns .yandex:hover {
      opacity: 0.6; }
  #form .soc-btns .other-btn {
    color: #52ac62;
    text-align: right;
    font-size: 13px; }
  #form .soc-btns .moresoc-enter {
    opacity: 0.01;
    transition: opacity 10s ease-in; }
  #form .soc-btns .moresoc-enter.moresoc-enter-active {
    opacity: 1; }
  #form .soc-btns .moresoc-leave {
    opacity: 1;
    transition: opacity 10s ease-in; }
  #form .soc-btns .moresoc-leave.moresoc-leave-active {
    opacity: 0.01; }
  #form .login-by-email .or-title {
    color: #cdd0d4;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px; }
  #form .login-by-email > input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e8ec;
    background: #fcfcfc;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 3px; }
    #form .login-by-email > input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #bdc2c9;
      opacity: 1;
      /* Firefox */ }
    #form .login-by-email > input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #bdc2c9; }
    #form .login-by-email > input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #bdc2c9; }
    #form .login-by-email > input:focus {
      outline: none; }
  #form .login-by-email .helpers-block {
    display: -webkit-flex;
    display: flex;
    margin-top: 15px; }
    #form .login-by-email .helpers-block .remember-me {
      display: -webkit-flex;
      display: flex;
      font-size: 14px;
      color: #000; }
      #form .login-by-email .helpers-block .remember-me input {
        margin: 4px;
        margin-left: 0px; }
    #form .login-by-email .helpers-block .forgot-password {
      text-align: right;
      -webkit-box-flex: 1;
      flex-grow: 1;
      font-size: 14px; }
  #form .login-by-email .register-btn {
    background: #52ac62;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px; }
    #form .login-by-email .register-btn:hover {
      opacity: 0.9; }
