#form {
  width: 370px;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 35px 45px;

  .form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    font-size: 21px;
  }

  .soc-btns {
    a {
      display: block;
      margin-bottom: 12px;
      padding: 6px;
      border-radius: 3px;
      text-align: center;
      color: #fff;
      font-weight: 600;

      &:hover {
        opacity: 0.9;
      }
    }

    .vk {
      background: #3b5f94;
    }

    .fb {
      background: #323c89;
    }

    .google {
      background: #da3d2c;
    }

    .yandex {
      background: #fff;
      border: 2px solid #da3d2c;
      padding: 4px;
      color: #000;

      span {
        color: #da3d2c;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .other-btn {
      color: #52ac62;
      text-align: right;
      font-size: 13px;
    }

    .moresoc-enter {
      opacity: 0.01;
      transition: opacity 10s ease-in;
    }
    
    .moresoc-enter.moresoc-enter-active {
      opacity: 1;
    }
    
    .moresoc-leave {
      opacity: 1;
      transition: opacity 10s ease-in;
    }
    
    .moresoc-leave.moresoc-leave-active {
      opacity: 0.01;
    }
  }

  .login-by-email {
    .or-title {
      color: #cdd0d4;
      text-align: center;
      font-size: 13px;
      margin-bottom: 10px;
    }

    > input {
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid #e5e8ec;
      background: #fcfcfc;
      margin-bottom: 10px;
      font-size: 14px;
      border-radius: 3px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #bdc2c9;
        opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #bdc2c9;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
          color: #bdc2c9;
      }

      &:focus {
        outline: none;
      }
    }

    .helpers-block {
      display: -webkit-flex;
      display: flex;
      margin-top: 15px;

      .remember-me {
        display: -webkit-flex;
        display: flex;
        font-size: 14px;
        color: #000;

        input {
          margin: 4px;
          margin-left: 0px;
        }
      }

      .forgot-password {
        text-align: right;
        -webkit-box-flex: 1;
        flex-grow: 1;
        font-size: 14px;
      }
    }

    .register-btn {
      background: #52ac62;
      color: #fff;
      border-radius: 3px;
      font-weight: 600;
      text-align: center;
      padding: 6px;
      display: block;
      margin-top: 30px;
      margin-bottom: 10px;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}