.task-block {
  .whishlist-block {
    min-width: 300px;
    .list-block {
      max-height: 300px;
      overflow-y: scroll;
      .item-block {
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #ccc;
        border-bottom-width: 0px;
        padding: 10px;

        input {
          margin: 7px;
        }

        p {
          flex: auto;
        }

        a {
          font-size: 10px;
          margin-top: 6px;
        }
      }
    }
    .add-block {
      display: -ms-flexbox;
      display: flex;

      input {
        border: 1px solid #ccc;
        flex: 1;
        font-size: 14px;
        padding: 7px 15px;

        &:focus {
          outline: none;
        }
      }

      a {
        border: 1px solid #ccc;
        border-left-width: 0px;
        padding: 7px 15px;
      }
    }
  }
}