.task-block .whishlist-block {
  min-width: 300px; }
  .task-block .whishlist-block .list-block {
    max-height: 300px;
    overflow-y: scroll; }
    .task-block .whishlist-block .list-block .item-block {
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #ccc;
      border-bottom-width: 0px;
      padding: 10px; }
      .task-block .whishlist-block .list-block .item-block input {
        margin: 7px; }
      .task-block .whishlist-block .list-block .item-block p {
        flex: auto; }
      .task-block .whishlist-block .list-block .item-block a {
        font-size: 10px;
        margin-top: 6px; }
  .task-block .whishlist-block .add-block {
    display: -ms-flexbox;
    display: flex; }
    .task-block .whishlist-block .add-block input {
      border: 1px solid #ccc;
      flex: 1;
      font-size: 14px;
      padding: 7px 15px; }
      .task-block .whishlist-block .add-block input:focus {
        outline: none; }
    .task-block .whishlist-block .add-block a {
      border: 1px solid #ccc;
      border-left-width: 0px;
      padding: 7px 15px; }
