@import '../../../app/style.scss';

.small-menu-block {
  @include maxWidth(wideSize) {
    display: none;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
  }

  .drop-menu-block {
    display: block;
    position: fixed;
    border: 1px solid;
    padding: 10px 15px;
    background: rgb(255, 255, 255);
    top: 10px;
    right: 82px;
  }
}