html,
body {
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 1025px) {
  .small-menu-block {
    display: none; } }

.small-menu-block .menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none; }

.small-menu-block .drop-menu-block {
  display: block;
  position: fixed;
  border: 1px solid;
  padding: 10px 15px;
  background: white;
  top: 10px;
  right: 82px; }
