html,
body {
  margin: 0;
  padding: 0; }

.tasks-block {
  margin-left: 300px; }
  @media only screen and (max-width: 1024px) {
    .tasks-block {
      margin-left: 0; } }

.task-block {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc; }
  .task-block h2 {
    font-size: 30px;
    margin-bottom: 20px; }
