@import '../../app/style.scss';

.tasks-block {
  margin-left: 300px;
  @include maxWidth(minSize) {
    margin-left: 0;
  }
}

.task-block {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}