@import '../../../app/style.scss';

.menu-block {
  border-right: 1px solid #ccc;
  position: fixed;
  width: 300px;
  height: 100vh;
  @include maxWidth(minSize) {
    display: none;
  }

  p {
    margin: 20px;
    font-size: 30px;
    color: #000;
  }

  ul {
    margin: 30px 20px;
  }
}