html,
body {
  margin: 0;
  padding: 0; }

.menu-block {
  border-right: 1px solid #ccc;
  position: fixed;
  width: 300px;
  height: 100vh; }
  @media only screen and (max-width: 1024px) {
    .menu-block {
      display: none; } }
  .menu-block p {
    margin: 20px;
    font-size: 30px;
    color: #000; }
  .menu-block ul {
    margin: 30px 20px; }
