$minSize: 1024px;

@mixin maxWidth($media) {
  @if $media == minSize {
    @media only screen and (max-width: $minSize) { @content; }
  }
  @else if $media == wideSize {
    @media only screen and (min-width: $minSize + 1) { @content; }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

