#loader-task .loader-block {
  margin: 30px auto 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #3366cc; }
  #loader-task .loader-block .loader {
    border: 3px solid rgba(0, 0, 0, 0);
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 50%; }
  #loader-task .loader-block .first-circle {
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite; }
  #loader-task .loader-block .second-circle {
    margin: 4px;
    width: 66px;
    height: 66px;
    animation: spin-reverse 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(-360deg); } }
