.main-info-block {
  display: -ms-flexbox;
  display: flex;
  .photo-block {
    img {
      width: 400px;
    }
    a {
      position: absolute;
      margin: 5px 12px;
      font-size: 26px;
    }
  }
  .about-block {
    padding-left: 20px;
    h1 {
      font-size: 30px
    }

    .contact-block {
      margin: 30px 0px;
      i {
        margin: 5px;
        font-size: 18px;
      }
    }
  }
}

.about-projects {
  max-width: 800px;
  padding-top: 20px;

  p {
    margin-bottom: 10px;
  }
}