.main-info-block {
  display: -ms-flexbox;
  display: flex; }
  .main-info-block .photo-block img {
    width: 400px; }
  .main-info-block .photo-block a {
    position: absolute;
    margin: 5px 12px;
    font-size: 26px; }
  .main-info-block .about-block {
    padding-left: 20px; }
    .main-info-block .about-block h1 {
      font-size: 30px; }
    .main-info-block .about-block .contact-block {
      margin: 30px 0px; }
      .main-info-block .about-block .contact-block i {
        margin: 5px;
        font-size: 18px; }

.about-projects {
  max-width: 800px;
  padding-top: 20px; }
  .about-projects p {
    margin-bottom: 10px; }
